body{
  background: #F3F3F3;
}
.container-custom{
  width: 90%
}

.navbar-custom{
  background-color: grey;
}
.navbar-brand{
  padding: 0 5px;
  padding-right: 10px;
}

.navbar-nav-custom{
  text-align: center;
  margin: 15px 40px 10px 10px;
  color: #ffffff;
  font-weight: bold;
}
.logo{
  height: 50px;
}
#video_view{
  height: 800px;
    overflow: auto;
}