<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.8.1/css/react-select.css" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'listenbot/css/base.css' %}" type = "text/css"/z>
    <link rel="shortcut icon" href="{% static 'listenbot/images/favicon.ico' %}">
    <title>{% block page_name %}{% endblock %}listenbot</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container container-custom ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
          <a class="navbar-brand">
                <img class="logo" src="{% static 'listenbot/images/logo.png' %}">
          </a>
        </div>

        <div class = "navbar-nav navbar-nav-custom">
          LiStEnBoT
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav ">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Admin</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="https://docs.djangoproject.com/" target="_blank">Django Website</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://marketplace.zoom.us/docs/sdk/native-sdks/web" target="_blank">Zoom Web SDK</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->



      </div><!-- /.container-fluid -->
</nav>
<nav id="nav-tool" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container container-custom">
    <div class="navbar-header ">
      <a class="navbar-brand">
            <img class="logo" src="{% static 'listenbot/images/logo.png' %}">
      </a>
    </div>
    <div class = "navbar-nav navbar-nav-custom">
      LiStEnBoT
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.djangoproject.com/" target="_blank">Django Website</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://marketplace.zoom.us/docs/sdk/native-sdks/web" target="_blank">Zoom Web SDK</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

      <div id="navbar" class="websdktest">
          <form class="navbar-form navbar-right" id="meeting_form">
              <div class="form-group">
                  <input type="text" name="display_name" id="display_name" value="1.8.1#CDN" maxLength="100"
                      placeholder="Name" class="form-control" required>
              </div>
              <div class="form-group">
                  <input type="text" name="meeting_number" id="meeting_number" value="" maxLength="200"
                      style="width:150px" placeholder="Meeting Number" class="form-control" required>
              </div>
              <div class="form-group">
                  <input type="text" name="meeting_pwd" id="meeting_pwd" value="" style="width:150px"
                      maxLength="32" placeholder="Meeting Password" class="form-control">
              </div>
              <div class="form-group">
                  <input type="text" name="meeting_email" id="meeting_email" value="" style="width:150px"
                      maxLength="32" placeholder="Email option" class="form-control">
              </div>

              <div class="form-group">
                  <select id="meeting_role" class="sdk-select">
                      <option value=0>Attendee</option>
                      <option value=1>Host</option>
                      <option value=5>Assistant</option>
                  </select>
              </div>
              <div class="form-group">
                  <select id="meeting_china" class="sdk-select">
                      <option value=0>Global</option>
                      <option value=1>China</option>
                  </select>
              </div>
              <div class="form-group">
                  <select id="meeting_lang" class="sdk-select">
                      <option value="en-US">English</option>
                      <option value="de-DE">German Deutsch</option>
                      <option value="es-ES">Spanish Español</option>
                      <option value="fr-FR">French Français</option>
                      <option value="jp-JP">Japanese 日本語</option>
                      <option value="pt-PT">Portuguese Portuguese</option>
                      <option value="ru-RU">Russian Русский</option>
                      <option value="zh-CN">Chinese 简体中文</option>
                      <option value="zh-TW">Chinese 繁体中文</option>
                      <option value="ko-KO">Korean 한국어</option>
                      <option value="vi-VN">Vietnamese Tiếng Việt</option>
                      <option value="it-IT">Italian italiano</option>
                  </select>
              </div>

              <input type="hidden" value="" id="copy_link_value" />
              <button type="submit" class="btn btn-primary" id="join_meeting">Join</button>
              <button type="submit" class="btn btn-primary" id="clear_all">Clear</button>
              <button type="button" link="" onclick="window.copyJoinLink('#copy_join_link')"
                  class="btn btn-primary" id="copy_join_link">Copy Direct join link</button>


          </form>
      </div>
      <!--/.navbar-collapse -->
  </div>
</nav>

{% block body_part %}
{% endblock %}
</body>
</html>