{% extends 'listenbot/base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block body_part %}


<body>

<div class = "col-sm=6" id = "video_view">
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/lodash.min.js"></script>

    <script src="https://source.zoom.us/zoom-meeting-1.8.1.min.js"></script>

    <script src="{{baseUrl}}/static/listenbot/js/tool.js"></script>
    <script src="{{baseUrl}}/static/listenbot/js/index.js"></script>
    <script src="{{baseUrl}}/static/listenbot/js/vconsole.min.js"></script>
    <img src="{{baseUrl}}/static/listenbot/images/logo.png" alt="">

</div>

</body>
{% endblock %}