{% extends 'listenbot/base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block body_part %}

<body>


    <script src="https://source.zoom.us/1.8.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/jquery.min.js"></script>
    <script src="https://source.zoom.us/1.8.1/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/zoom-meeting-1.8.1.min.js"></script>

    <script src="{{baseUrl}}/static/listenbot/js/tool.js"></script>
    <script src="{{baseUrl}}/static/listenbot/js/meeting.js"></script>
    <script src="{{baseUrl}}/static/listenbot/js/vconsole.min.js"></script>

    <iframe  width="400px" height="150px" frameborder="0"scrolling="no">
        <script>
            const simd = async () => WebAssembly.validate(new Uint8Array([0, 97, 115, 109, 1, 0, 0, 0, 1, 4, 1, 96, 0, 0, 3, 2, 1, 0, 10, 9, 1, 7, 0, 65, 0, 253, 15, 26, 11]))
            simd().then((res) => {
              console.log("simd check", res);
            });
        </script>
    </iframe>

</body>

{% endblock %}